/* MAIN */

.main
	display: table-row
	height: 100%

	//&:before
		content: ''
		display: block
		clear: both
		height: 110px
		max-height: 110px
		font-size: 0
		line-height: 0
		overflow: hidden
		visibility: hidden


	//&:before
		height: 85px
		max-height: 135px

	//&:after
		height: 40px
		max-height: 40px
dl,
dt,
dd
	padding: 0
	margin: 0

.breadcrumb
	display: none


#map
	width: 100%
	min-height: 320px


/**** GUTTERS *****/


.gutter-0
	margin: 0
    
	> *
		padding: 0

.grid.grid-no-margin
	margin-left: 0

.span-no-padding
	padding-left: 0


/**** BOXES ****/

.box
	display: block
	white-space: nowrap
	width: 100%
	overflow: hidden
	position: relative
	vertical-align: middle
	background: 50% 50% no-repeat
	+bg-size

	&:after
		content: ''
		display: inline-block
		vertical-align: inherit
		width: 0
		height: 0
		overflow: hidden
		padding: 100% 0 0

.box-rect
	&:after
		content: ''
		padding: 65% 0 0

.box-wide
	&:after
		content: ''
		padding: 50% 0 0

.feed-content
	padding: 30px 0
	width: 100%
	position: relative
	white-space: normal
	//z-index: 3
	display: inline-block
	vertical-align: middle
	+box-sizing
	
	.h1
		margin: 0 0 25px 0

	p
		margin: 0 0 40px 0

	

/*** BASIC STYLES ***/

.text-center
	text-align: center

.text-left
	text-align: left

.text-right
	text-align: right

.vertical-top
	+inline-block(top)
	
.vertical-bottom
	+inline-block(bottom)
	
.margin-bottom-gutter
	margin-bottom: $gutter-small

.margin-top-gutter
	margin-top: $gutter-small

.bg-cover
	background: 50% 50% no-repeat
	+bg-size(cover)
		

.grey-bg
	background: $grey-light
	
	
/*** LIST STYLINGS ***/	

	

/**** HOME PAGE ****/


h1
	margin: 0 0 40px 0

.feed-container
	margin: 0 0 $gutter-small

.hero-title
	position: relative
	padding: 10px 10px 30px
	margin: 20px auto
	width: 245px
	color: #FFF
	text-align: center
	z-index: 1

	p
		font-size: 10px

.btn
	text-decoration: none
	font-family: $font-primary
	font-size: 18px
	color: #fff
	padding: 10px 20px
	border: 2px solid $grey
	background: $grey
	border-radius: 50px
	position: relative
	+transition(all, .8s)

	&:hover
		color: $body-color
		border: 2px solid $grey-light
		background: $grey-light
		+transition(all, .8s)





+addMediaQuery("only screen and (min-width:" + $min-site-width-medium + ")")


.feed-container
	margin: 0 0 $gutter-large


@media print

	.main
		display: block
	
